/* CSS Reset by Josh W Comeau   https://www.joshwcomeau.com/css/custom-css-reset/*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  padding: 0;
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-bg-grey: #e3e4e4;
  --clr-bg-accent: hwb(23 16% 0% / 0.22);
  --clr-text-main: #0b0b0b;
  --clr-text-accent: #f58b4a;
  /* Font Sizes */
  --fs-regular: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.75rem;
  --fs-2xl: 2.5rem;
  --fs-3xl: 3rem;
  --fs-sm: 0.9375rem;
  /* Font Famillies */
  --ff-main: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

body {
  line-height: 1.6;
  font-size: var(--fs-lg);
  font-family: var(--ff-main);
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  max-width: calc(100% - 260px);
  margin-inline: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

header {
  background-color: var(--clr-bg-grey);
  font-size: var(--fs-lg);
}

.main__nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 5.9rem;
  margin-inline: auto;
}

.main__nav-item a {
  color: var(--clr-text-main);
  font-weight: 600;
}

.dog {
  width: 69px;
  height: 89px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.advert {
  background-color: var(--clr-text-accent);
  padding: 0.5em 0.75em;
}

.donate {
  background-color: var(--clr-text-main);
  padding: 0.5em 3em;
}

.hero {
  min-height: 90vh;
  display: flex;
}

.hero__text {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 8.125rem;
}

.hero__text-subheading {
  font-size: var(--fs-sm);
  letter-spacing: 1px;
}

.hero__text-heading {
  font-size: var(--fs-3xl);
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 600;
}

.hero__text-heading span {
  color: var(--clr-text-accent);
}

.hero__text-p {
  max-width: 45ch;
}

.hero-image {
  background-image: url(../images/hero2.jpg);
  background-position: center center;
  background-size: cover;
  width: 50%;
}

.hero-link {
  font-size: var(--fs-xl);
  color: var(--clr-text-accent);
  font-weight: 600;
}

.findAPet {
  background-color: var(--clr-bg-grey);
  padding-block: 1em;
}

.findAPet__text-heading {
  font-size: var(--fs-2xl);
}

.findAPet__text-p {
  max-width: 35ch;
}

.pets {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
}

.pets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8.125rem;
  padding-block: 5em;
  justify-content: center;
}

.child2 {
  transform: translateY(50px);
}

.pet__card {
  max-width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 15px #0b0b0b;
}

.pet__card-image {
  height: 200px;
  max-width: 260px;
}

.pet__card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em;
  background-color: #fff;
}

.pet__card-details--name {
  font-size: var(--fs-xl);
}

.pet__card-details--gender {
  width: 57px;
  height: 57px;
}

.pets-link {
  border-radius: 25px;
  background-color: var(--clr-text-accent);
  padding: 1em 1.75em;
  color: white;
  margin-inline: auto;
  margin-top: 1.5rem;
}

.overlay {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: var(--clr-bg-accent);
  clip-path: polygon(0 0, 67% 0, 46% 100%, 0% 100%);
}

.adopt__process-heading {
  text-align: center;
  font-size: var(--fs-2xl);
}
