/* CSS Reset by Josh W Comeau   https://www.joshwcomeau.com/css/custom-css-reset/*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  padding: 0;
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-bg-grey: #e3e4e4;
  --clr-bg-accent: hwb(23 16% 0% / 0.22);
  --clr-text-main: #0b0b0b;
  --clr-text-accent: #f58b4a;
  /* Font Sizes */
  --fs-regular: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.75rem;
  --fs-2xl: 2.5rem;
  --fs-3xl: 3rem;
  --fs-sm: 0.9375rem;
  /* Font Famillies */
  --ff-main: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

body {
  line-height: 1.6;
  font-size: var(--fs-lg);
  font-family: var(--ff-main);
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  max-width: calc(100% - 260px);
  margin-inline: auto;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  padding: 1em 2em;
  border-radius: 8px;
  font-size: var(--fs-regular);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

header {
  background-color: var(--clr-bg-grey);
  font-size: var(--fs-lg);
}

.main__nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 5.9rem;
  margin-inline: auto;
}

.main__nav-item a {
  color: var(--clr-text-main);
  font-weight: 700;
}

.dog {
  width: 69px;
  height: 89px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.advert {
  background-color: var(--clr-text-accent);
  padding: 0.5em 0.75em;
}

.donate {
  background-color: var(--clr-text-main);
  padding: 0.5em 3em;
}

.hero {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

table {
  table-layout: fixed;
  width: 40%;
  text-align: center;

  border-collapse: collapse;
}
table td,
table th {
  padding: 1.25rem;
  font-size: 1.25rem;
}

table tr:nth-child(odd) {
  background-color: var(--clr-bg-grey);
}

.adopt-link {
  background-color: var(--clr-text-accent);
}

.share-link {
  background-color: #2965ff;
  position: relative;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.share-link img {
  width: 25px;
  height: 25px;
}

.animal__details-img {
  width: 60px;
  height: 60px;
  margin-inline: auto;
}

.hero-image {
  position: relative;
}

.hero-image img {
  max-width: 800px;
  max-height: 600px;
}

.hero-image:before {
  position: absolute;
  content: "";
  inset: -30px -40px;
  background: linear-gradient(
    to bottom,
    var(--clr-text-accent) 30%,
    var(--clr-bg-grey)
  );
  height: 90%;
  width: 100%;
  z-index: -100;
}

.paragraphs {
  margin-top: 8rem;
  display: grid;
  gap: 1rem;
  margin-bottom: 8rem;
  position: relative;
  padding-block: 10em;
  padding-inline: 4em;
  line-height: 2.5;
}

.paragraphs::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--clr-bg-grey);
  z-index: -100;
  clip-path: polygon(0 15%, 100% 0, 100% 79%, 0 100%);
}
.about-animal {
  max-width: 90ch;
  margin-left: 2.5em;
}

footer {
  background-color: var(--clr-bg-grey);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-block: 5em;
}

.contact {
  margin-inline: auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer-image {
  width: 50px;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.socials-image {
  mix-blend-mode: multiply;
}

.footer-p {
  margin-bottom: 1rem;
}

.footer-image {
  margin-bottom: 1rem;
}

.email {
  padding: 0.5em;
  border-radius: 17px;
  border: 1px solid var(--clr-text-accent);
  color: var(--clr-text-accent);
  display: block;
}

.sumbit {
  padding: 0.5em 2em;
  margin-top: 1.125rem;
  background-color: var(--clr-text-accent);
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
