*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  padding: 0;
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-bg-grey: #e3e4e4;
  --clr-bg-accent: hwb(23 16% 0% / 0.22);
  --clr-text-main: #0b0b0b;
  --clr-text-accent: #f58b4a;
  --clr-bg-btn: #e9a073;
  /* Font Sizes */
  --fs-regular: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.75rem;
  --fs-2xl: 2.5rem;
  --fs-3xl: 3rem;
  --fs-sm: 0.9375rem;
  /* Font Famillies */
  --ff-main: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

body {
  line-height: 1.6;
  font-size: var(--fs-lg);
  font-family: var(--ff-main);
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  max-width: min(95%, 1440px);
  margin-inline: auto;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-between;
}

header {
  background-color: var(--clr-bg-grey);
  font-size: var(--fs-lg);
}

.main__nav {
  display: flex;
  align-items: center;
  flex: 1;
}

nav ul {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.main__nav-item a {
  color: var(--clr-text-main);
  font-weight: 700;
  position: relative;
}

.main__nav-item a:hover::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: var(--clr-text-accent);
}

.dog {
  width: 69px;
  height: 89px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-inline: auto;
}

.nav-links a {
  color: white;
  border-radius: 5px;
  font-weight: 600;
}
.desktop-hidden {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-inline: auto;
}

.desktop-hidden a {
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.advert {
  background-color: var(--clr-text-accent);
  padding: 0.5em 0.75em;
}

.advert:hover {
  background-color: var(--clr-text-main);
  color: var(--clr-text-accent);
  transition: all 0.5s ease;
}

.sign {
  background-color: var(--clr-text-main);
  padding: 0.5em 3em;
}

.sign:hover {
  color: var(--clr-text-accent);
  transition: all 0.5s ease;
}

.mobile__nav-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.main-container {
  max-width: min(95%, 1440px);
  margin-inline: auto;
}

.hero-image {
  background-image: url(../images/pets-hero.jpg);

  background-size: cover;
  min-height: 100vh;
  margin-bottom: 3em;
}

.summary {
  display: flex;
  gap: 6rem;
  justify-content: space-between;
  text-overflow: balance;
  padding: 1em;
}

.summary__text > * + * {
  margin-bottom: 1.25em;
}

.summary__text-heading {
  padding: 0.25em 0.75em;
  color: #fff;
  position: relative;
  margin-bottom: 1.5em;
  text-align: center;
}

.summary__text-heading::before {
  content: "";
  background-color: var(--clr-text-accent);
  position: absolute;
  inset: 0;
  z-index: -100;
  transform: skew(10deg);
  border-radius: 5px;
}

.summary__text-p {
  max-width: 75ch;
}

.summary-image {
  height: 550px;
  width: 425px;
  max-width: 100%;
  border-radius: 10px;
}

.pets {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}

.pets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8.125rem;
  padding-block: 8em;
  justify-content: center;
}

.pet__card {
  max-width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 15px #0b0b0b;
  color: var(--clr-text-main);
}

.pet__card-image {
  height: 200px;
  width: 260px;
  object-fit: cover;
}

.pet__card:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-out;
}

.pet__card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em;
  background-color: #fff;
}

.pet__card-details--name {
  font-size: var(--fs-xl);
}

.pet__card-details--gender {
  width: 57px;
  height: 57px;
}

.pets-btns {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.pets-btns button {
  text-align: center;
  border: none;
  padding: 0.8em;
  border-radius: 5px;
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.animal-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.animal-btns button {
  flex: 1;
}

.btns-filters {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.btns-filters button {
  flex: 1;
}

.active {
  color: #fff;
  background-color: var(--clr-text-accent);
}

.overlay {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: var(--clr-bg-accent);
  clip-path: polygon(0 0, 67% 0, 46% 100%, 0% 100%);
}

.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pagination-btn {
  background: none;
  cursor: pointer;
  border: none;
}

.btns-left {
  text-align: center;
}
.btns-right {
  text-align: center;
}

.pagination-btn svg:hover {
  fill: var(--clr-text-main);
  transition: fill 0.25s ease-in;
}
.pagination-btn svg:active {
  transform: scale(1.2);
  transition: transform 0.1s ease-in;
}

footer {
  background-color: var(--clr-bg-grey);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 5em;
}

.contact {
  margin-inline: auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.desktop-hidden {
  display: none;
}

.footer-image {
  width: 50px;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.socials-image {
  mix-blend-mode: multiply;
  max-width: 300px;
}

.footer-p {
  margin-bottom: 1rem;
}

.footer-image {
  margin-bottom: 1rem;
}

.email {
  padding: 0.5em;
  border-radius: 17px;
  border: 1px solid var(--clr-text-accent);
  color: var(--clr-text-accent);
  display: block;
}

.sumbit {
  padding: 0.5em 2em;
  margin-top: 1.125rem;
  background-color: var(--clr-text-accent);
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.hidden {
  display: flex;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  .summary {
    justify-content: center;
  }

  .pets-btns {
    grid-template-columns: 1fr;
  }

  .summary-image {
    display: none;
  }
  footer {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .mobile__nav-btn {
    display: block;
    position: relative;
  }

  .hidden {
    translate: 500px;
    animation: 0.75s ease-in-out slideInNav;
    transition: all 0.75s ease-in;
  }

  .main__nav {
    position: absolute;
    top: 107px;
    right: 0;
    background-color: #fff;
    padding: 1em 2em;
    flex-direction: column;
    min-height: 100vh;
    z-index: 10;
    text-align: center;
    padding-inline: 5em;
    transition: all 0.75s ease-in-out;
    animation: 0.75s ease-in-out slideOutNav;
  }

  .nav-ul {
    flex-direction: column;
    justify-content: start;
    padding: 1em 2em;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-links {
    display: none;
  }

  .desktop-hidden {
    display: flex;
  }
}

@media (max-width: 700px) {
  .desktop-hidden {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
}
